<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="steven.vandervalk.jcu.edu.au.thesecretnumber"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage"
            android:label="@string/title_activity_start_page" >
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.ConstantsBrowser"
            android:label="@string/title_activity_ConstantsBrowser"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.FreePlay"
            android:label="@string/title_activity_free_play"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberType"
            android:label="@string/title_activity_number_type"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.TimeMode"
            android:label="@string/title_activity_time_mode"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" />
        </activity>

        <provider
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.Provider"
            android:authorities="steven.vandervalk.jcu.edu.au.Provider"
            android:exported="false" />

        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.BeatTheClock"
            android:label="@string/title_activity_beat_the_clock"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberType" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberRange"
            android:label="@string/title_activity_time_range"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayActivity" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.TimeTrial"
            android:label="@string/title_activity_time_trial"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.NumberType" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.ComputerGuesses"
            android:label="@string/title_activity_computer_guesses"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.GoodGame"
            android:label="@string/title_activity_good_game"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.StartPage" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.PlayerGuesses"
            android:label="@string/title_activity_player_guesses"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.MainActivity" />
        </activity>
        <activity
            android:name="steven.vandervalk.jcu.edu.au.thesecretnumber.SaveScore"
            android:label="@string/title_activity_save_score"
            android:parentActivityName="steven.vandervalk.jcu.edu.au.thesecretnumber.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="steven.vandervalk.jcu.edu.au.thesecretnumber.MainActivity" />
        </activity>
    </application>

</manifest>